/* Navbar stilini burada tanımlayabilirsiniz */

.navbar {
    padding: 10px;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    background-color: white;
  }
  
  .navbar-nav {
    margin-right: 20px;
  }
  
  .nav-link {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .form-inline {
    display: flex;
    align-items: center;
  }
  
  .form-control {
    margin-right: 5px;
  }
  
  .btn {
    font-size: 16px;
    padding: 5px 15px;
  }
  