<div class="container">
  <div class="jumbotron mt-5">
    <h1 class="display-4">Kredi Bölümüne Hoş Geldiniz!</h1>
    <p class="lead">En uygun kredi seçenekleri için doğru adrestesiniz.</p>
    <hr class="my-4">
    <p>Birbirinden avantajlı kredi imkanlarıyla hayatınızı kolaylaştırıyoruz.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Hemen Başvur</a>
    </p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="assets/images/personal-loan.jpg" class="card-img-top" alt="Kişisel Kredi">
        <div class="card-body">
          <h5 class="card-title">Kişisel Kredi</h5>
          <p class="card-text">Hayallerinizi gerçekleştirmek için ihtiyacınız olan nakit desteği.</p>
          <a href="#" class="btn btn-primary">Detayları Gör</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="assets/images/mortgage-loan.jpg" class="card-img-top" alt="Mortgage Kredisi">
        <div class="card-body">
          <h5 class="card-title">Mortgage Kredisi</h5>
          <p class="card-text">Ev sahibi olmak artık hayal değil. Uygun faiz oranlarıyla mortgage kredisi imkanı.</p>
          <a href="#" class="btn btn-primary">Detayları Gör</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="assets/images/vehicle-loan.jpg" class="card-img-top" alt="Araç Kredisi">
        <div class="card-body">
          <h5 class="card-title">Araç Kredisi</h5>
          <p class="card-text">Hayalinizdeki araca sahip olmak için cazip kredi fırsatları.</p>
          <a href="#" class="btn btn-primary">Detayları Gör</a>
        </div>
      </div>
    </div>
  </div>
</div>

<h1>Hoş Geldiniz!</h1>
<p>Bankanın kredi bölümüne hoş geldiniz.</p>
<button (click)="goToAboutPage()">Kaydolmak</button>
<button (click)="calculateMonthlyPayment()">Kredi Başvurusu</button>
